@import url('https://fonts.googleapis.com/css2?family=Coda&family=Lato&family=Nabla&display=swap');

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Nabla', cursive;
  font-size: 2.75em;
  line-height: 1.5em;
}

h2,h3,h4,h5,h6 {
  font-family: 'Coda', cursive;
}

button {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#14396a;
  border-color:#333333;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  text-shadow:inset 0px 1px 0px #ffee66;
  background:linear-gradient(#ffec64, #ffab23);
  cursor: pointer;
}

button:hover {
  background: linear-gradient(#ffab23, #ffec64);
}
              
img {
  width: 200px;
}

.avatar {
  border-radius: 200px;
}
